{
    "extends":"airbnb",
    "parserOptions":{
      "ecmaVersion":6,
      "linebreak-style": [true, "CRLF"]
    },
    "env":{
        "node":true,
        "browser": true,
        "es6":true
    },
    "rules": {
        "linebreak-style": 0,
        "global-require": 0,
        "eslint linebreak-style": [0, "error", "windows"],
        "no-console": "off",
        "no-undef": "off",
        "no-param-reassign":"off",
        "arrow-body-style":"off"
      }

}